<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<title>立马理财产品销售详情</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
		<meta name="keywords" content="爬虫，立马理财，销售额，互联网金融">
		<meta name="description" content="爬取立马理财每日销售额和每个产品的销售额以及哪些用户购买等信息">
		<link rel="icon" href="/public/favicon.ico">
		<link rel="stylesheet" href="/public/datepicker.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.16/cr-1.4.1/sl-1.2.4/datatables.min.css"/>
		<!-- <link rel="stylesheet" href="http://localhost:8080/dist/detail.css"> -->
		<link rel="stylesheet" href="/dist/detail.css">
	</head>

	<body id="main">
		<h1>立马理财产品销售详情</h1>
		<h2 id='title'></h2>
		<section class="sale-chart">
			<h2>1、销售额波动图</h2>
			<div id="prodChart" style="width: 1100px;height:400px;"></div>
		</section>
		<section class="day-sale">
			<h2>2、用户购买情况表</h2>
			<table id="prodTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
				<thead>
		            <tr>
		                <th>用户姓名</th>
		                <th>购买金额(元)</th>
		                <th>购买时间</th>
		            </tr>
		        </thead>
		        <tbody id="prodTbody"></tbody>
			</table>
		</section>
		<script src='https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js'></script>
		<script src='https://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js'></script>
		<script src='/public/datepicker.min.js'></script>
		<script src='/public/datepicker.zh-CN.js'></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.16/cr-1.4.1/sl-1.2.4/datatables.min.js"></script>
		<script src="https://cdn.bootcss.com/echarts/3.8.5/echarts.min.js"></script>
		<!-- <script type="text/javascript" src="http://localhost:8080/dist/detail.js"></script> -->
		<script type="text/javascript" src="/dist/detail.js"></script>
	</body>

</html>