<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<title>立马理财销售额</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
		<meta name="keywords" content="爬虫，立马理财，销售额，互联网金融">
		<meta name="description" content="爬取立马理财每日销售额和每个产品的销售额以及哪些用户购买等信息">
		<link rel="icon" href="/public/favicon.ico">
		<link rel="stylesheet" href="/public/datepicker.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.16/cr-1.4.1/sl-1.2.4/datatables.min.css"/>
		<!-- <link rel="stylesheet" href="http://localhost:8080/dist/index.css"> -->
		<link rel="stylesheet" href="http://localhost:5000/dist/index.css">
	</head>

	<body id="main">
		<h1>立马理财销售额统计</h1>
		<h2>1、查看某一时间段内的销售情况</h2>
		<label>开始时间：</label><input class="datepicker startTime">
		<label>结束时间：</label><input class="datepicker endTime">
		<div id="periodSales" style="width: 1100px;height:400px;"></div>



		<script src='https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js'></script>
		<script src='http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js'></script>
		<script src='/public/datepicker.min.js'></script>
		<script src='/public/datepicker.zh-CN.js'></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.16/cr-1.4.1/sl-1.2.4/datatables.min.js"></script>
		<script src="https://cdn.bootcss.com/echarts/3.8.5/echarts.min.js"></script>
		<!-- <script type="text/javascript" src="http://localhost:8080/dist/index.js"></script> -->
		<script type="text/javascript" src="http://localhost:5000/dist/index.js"></script>
	</body>

</html>








