<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<title>立马理财销售额</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
		<meta name="keywords" content="爬虫，立马理财，销售额，互联网金融">
		<meta name="description" content="爬取立马理财每日销售额和每个产品的销售额以及哪些用户购买等信息">
		<link rel="icon" href="/public/favicon.ico">
		<link rel="stylesheet" href="/public/datepicker.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.16/cr-1.4.1/sl-1.2.4/datatables.min.css"/>
		<!-- <link rel="stylesheet" href="http://localhost:8080/dist/index.css"> -->
		<link rel="stylesheet" href="/dist/index.css">
	</head>

	<body id="main">
		<h1>立马理财销售额统计</h1>
		<section class="period-sales">
			<h2>1、当日实时销售情况</h2>
			<div>
				<label for="">选择自动刷新频率/秒</label>
				<select id="selectDelta" class="form-control input-sm">
					<option value="5">5</option>
					<option value="30">30</option>
					<option value="60">60</option>
					<option value="120">120</option>
					<option value="180" selected>180</option>
					<option value="180">600</option>
					<option value="180">1800</option>
					<option value="180">3600</option>
				</select>
			</div>
			<div id="nowSales" style="width: 1100px;height:500px;"></div>
		</section>
		<section class="period-sales">
			<h2>2、查看某一时间段内的销售情况</h2>
			<label>开始时间：</label><input class="datepicker startTime">
			<label>结束时间：</label><input class="datepicker endTime">
			<div id="periodSales" style="width: 1100px;height:400px;"></div>
		</section>
		<section class="day-sale">
			<h2>3、查看某一天的具体销售情况</h2>
			<label>选择日期：</label><input class="datepicker oneday">
			<h3>按照时间段销售统计图</h3>
			<div id="onedayChart" style="width: 1100px;height:400px;"></div>
			<h3>按照产品分类统计表</h3>
			<table id="onedayTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
				<thead>
		            <tr>
		                <th>产品名称</th>
		                <th>当日销售额(万元)</th>
		                <th>筹集金额(万元)</th>
		                <th>年化收益率(%)</th>
		                <th>投资天数(天)</th>
		                <th>起息日</th>
		                <th>止息日</th>
		            </tr>
		        </thead>
		        <tbody id="onedayTbody"></tbody>
			</table>
		</section>
		<script src='https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js'></script>
		<script src='https://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js'></script>
		<script src='/public/datepicker.min.js'></script>
		<script src='/public/datepicker.zh-CN.js'></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.16/cr-1.4.1/sl-1.2.4/datatables.min.js"></script>
		<script src="https://cdn.bootcss.com/echarts/3.8.5/echarts.min.js"></script>
		<!-- <script type="text/javascript" src="http://localhost:8080/dist/index.js"></script> -->
		<script type="text/javascript" src="/dist/index.js"></script>
	</body>

</html>